@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
      font-family: Proxima Nova, system-ui, sans-serif;
    }
  }

  /* width */
::-webkit-scrollbar {
  width: 12px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

